
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .map {
        width: 99%;
        height: 300px;
        position: relative;
        top: 2px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .map {
        width: 99%;
        height: 300px;
        position: relative;
        top: 2px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .map {
        width: 99%;
        height: 300px;
        position: relative;
        top: 2px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .map {
        width: 50%;
        height: 300px;
        position: relative;
        top: 2px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .map {
        width: 50%;
        height: 300px;
        position: relative;
        top: 2px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .map {
        width: 50%;
        height: 300px;
        position: relative;
        top: 2px;
    }
}

#modalBtn {
    margin: 5px;
}

.planForm{

}

.planFormField{
    margin: 10px;
}

.example-card {
    margin: 20px 5px 20px 5px;
    width: 99%;
    height: 100%;
}

.formContainer{

}

.noDataForm {
    color: red;
}